In [2]:
import pandas as pd
import numpy as np
df_trans = pd.read_csv('df_trans.csv')
data = pd.read_csv('data.csv')

In [3]:
df_trans.head(30)

,customer_id,transaction_month,transaction_day,transaction_amt,merchant_mcc
0,855115,7,3,1500,Супермаркеты
1,997036,6,6,0,Супермаркеты
2,398237,5,24,2500,Рестораны
3,997036,6,2,0,Супермаркеты
4,291636,7,25,0,Супермаркеты
5,844503,5,24,3500,Супермаркеты
6,844503,6,22,3500,Супермаркеты
7,862192,7,14,0,Фастфуд
8,862192,5,26,0,Супермаркеты
9,862192,7,11,0,Фастфуд
10,862192,7,23,0,Фастфуд
11,564201,7,5,0,Прочие магазины
12,564201,7,3,0,Супермаркеты
13,661331,6,6,0,Супермаркеты
14,408749,6,12,1500,Дом и ремонт
15,564201,7,24,0,Аптеки
16,862192,7,9,0,Фастфуд
17,177124,5,31,6500,Здоровье
18,862192,7,18,0,Фастфуд
19,177826,7,1,1500,Топливо
20,895631,5,28,1000,Прочие магазины
21,194526,6,9,0,Книги
22,194526,7,9,0,Рестораны
23,479673,7,24,0,Супермаркеты
24,479673,7,24,0,Супермаркеты
25,375979,6,10,5000,Здоровье
26,296423,6,23,4000,4215
27,862312,6,24,0,Фастфуд
28,36823,7,22,0,Супермаркеты
29,36823,6,10,0,Супермаркеты

In [4]:
df_trans.groupby(['merchant_mcc'], as_index = True).aggregate({'transaction_amt': 'sum'}).sort_values(by='transaction_amt',ascending=False)

                transaction_amt
merchant_mcc
Супермаркеты          750122000
Дом и ремонт          494344500
Одежда и обувь        324991000
Авиабилеты            260821000
Топливо               202063500
...                         ...
6012                      21500
8734                      18000
8651                       1500
5935                       1000
6011                        500

[87 rows x 1 columns]

In [10]:
df_trans.merchant_mcc.unique()

array(['Супермаркеты', 'Рестораны', 'Фастфуд', 'Прочие магазины',
       'Дом и ремонт', 'Аптеки', 'Здоровье', 'Топливо', 'Книги', '4215',
       'Сувениры', 'Цветы', 'Транспорт', 'Развлечения', 'Каршеринг',
       '8999', 'Спорттовары', 'Животные', 'Одежда и обувь', '5943',
       '7311', 'Красота', 'Автоуслуги', 'Кино', 'Туризм', 'Аренда авто',
       'Дьюти-фри', '7221', 'Уборка', 'Отели', '5964',
       'Железнодорожные билеты', '5948', 'Музыка', 'Авиабилеты', '9399',
       'Образование', '5993', '7299', 'Страховые услуги', '7392', '5968',
       'Фото и видео', '7399', '7995', 'Цифровые товары', '4214', '8398',
       'Искусство', '6211', '9405', '9402', '7372', '9222', '5967',
       '7375', '8351', '7393', '9311', '5969', '7278', '5965', '6051',
       '8111', '5978', '6513', '7277', '7273', '7379', '4225', '8699',
       '6540', '7321', '8911', '8641', '7361', '7394', '5933', '8661',
       '8931', '5963', '6011', '9211', '8734', '6012', '8651', '5935'],
      dtype=object)

In [11]:
df_trans.merchant_mcc.value_counts()

Супермаркеты    1556219
Фастфуд          547216
Рестораны        260129
Каршеринг        203528
Топливо          178480
                 ...
6012                  4
6011                  2
8734                  2
8651                  1
5935                  1
Name: merchant_mcc, Length: 87, dtype: int64

In [14]:
data.head(30)

    customer_id  transaction_amt                BZ                BC
0            15     2.221000e+06        Авиабилеты      Супермаркеты
1            73     1.149500e+06        Авиабилеты         Каршеринг
2            91     4.235000e+05      Дом и ремонт      Дом и ремонт
3           144     5.000000e+03            Аптеки      Супермаркеты
4           150     0.000000e+00      Супермаркеты      Супермаркеты
5           164     1.000000e+03           Фастфуд           Фастфуд
6           178     1.870000e+05              7277           Фастфуд
7           183     1.500000e+04      Супермаркеты      Дом и ремонт
8           192     7.500000e+02    Одежда и обувь    Одежда и обувь
9           362     1.475000e+05      Супермаркеты      Супермаркеты
10          446     8.000000e+03       Развлечения      Супермаркеты
11          521     1.975000e+05      Супермаркеты      Супермаркеты
12          536     2.650000e+04           Топливо           Фастфуд
13          588     3.666667e+03              7299              7299
14          612     2.845000e+05          Здоровье      Дом и ремонт
15          629     7.500000e+03      Супермаркеты      Супермаркеты
16          652     3.200000e+04    Одежда и обувь      Супермаркеты
17          716     6.150000e+04      Супермаркеты      Супермаркеты
18          791     3.190000e+05        Авиабилеты      Супермаркеты
19          794     6.000000e+03  Страховые услуги  Страховые услуги
20          804     3.600000e+04        Автоуслуги      Супермаркеты
21          807     3.500000e+04    Одежда и обувь   Прочие магазины
22          830     3.355000e+05      Дом и ремонт            Музыка
23          882     1.040000e+05      Супермаркеты      Супермаркеты
24          885     3.000000e+03              5964              5964
25          928     1.500000e+03           Топливо         Рестораны
26          936     7.600000e+04           Фастфуд           Фастфуд
27          972     1.235000e+05      Супермаркеты      Супермаркеты
28          995     3.300000e+04    Одежда и обувь      Супермаркеты
29         1067     2.595000e+05    Одежда и обувь           Фастфуд